# App Version
VERSION="0.0.0"

# Authentication
NEXT_REDIRECT=http://localhost:3000

# Logging
LOG_LEVEL=info

# Keycloak
AUTH_KEYCLOAK_ID=AUTH_KEYCLOAK_ID
AUTH_KEYCLOAK_SECRET=AUTH_KEYCLOAK_SECRET
AUTH_KEYCLOAK_ISSUER=AUTH_KEYCLOAK_ISSUER

# Database
DATABASE_URL=postgresql://admin:admin123@localhost:5432/appdb
DB_MAX_POOL_SIZE=10
DB_MIN_POOL_SIZE=0
DB_CONNECTION_TIMEOUT=5000
DB_IDLE_TIMEOUT=10000

# S3 Storage
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin123
S3_ENDPOINT=http://localhost:9000
S3_PORT=9000
S3_REGION=us-east-1

# Posthog Configurations
NEXT_PUBLIC_POSTHOG_KEY=NEXT_PUBLIC_POSTHOG_KEY
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_POSTHOG_ASSETS_HOST=https://us-assets.i.posthog.com
NEXT_PUBLIC_POSTHOG_ENABLE="false"

# NextAuth (Legacy/Compat)
NEXTAUTH_SECRET=NEXTAUTH_SECRET

# Keycloak Admin Credentials (for user sync)
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin_password

# Keycloak Admin API Configuration
AUTH_KEYCLOAK_ADMIN_URL=http://localhost:8080/
AUTH_KEYCLOAK_ADMIN_CLIENT_ID=evalify-convex
AUTH_KEYCLOAK_ADMIN_CLIENT_SECRET=admin_client_secret
KEYCLOAK_REALM=evalify

# Evaluation Service
EVALUATION_SERVICE_URL=http://localhost:4000
API_KEY=evalify_api_key

# External APIs
PROTECTED="true"  # Set to false to disable API protection only in development. NOT RECOMMENDED FOR PRODUCTION
