
# Authentication 
AUTH_SECRET=AUTH_SECRET

NEXT_REDIRECT=http://localhost:3000

# Logging
LOG_LEVEL=info

# Keycloak
AUTH_KEYCLOAK_ID=AUTH_KEYCLOAK_ID
AUTH_KEYCLOAK_SECRET=AUTH_KEYCLOAK_SECRET
AUTH_KEYCLOAK_ISSUER=AUTH_KEYCLOAK_ISSUER

# PostgreSQL
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin123
POSTGRES_DB=appdb
POSTGRES_PORT=5432

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

# Redis / Valkey
REDIS_PORT=6379
REDIS_PASSWORD=valkey123

# Posthog Configurations
NEXT_PUBLIC_POSTHOG_KEY=NEXT_PUBLIC_POSTHOG_KEY
NEXT_PUBLIC_POSTHOG_HOST=NEXT_PUBLIC_POSTHOG_HOST

